{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} Tentang Kami | {{ block.super }} {% endblock head_title%}

{% block content %}

<div id="content">
    <div class="container">
        <div class="page-content">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="classic-title">
                        <span>{{ profile.nama }}</span>
                    </h4>
                    <p style="text-align: justify; ">{{ profile.profil_lengkap }}</p>
                </div>
            </div>

            <div class="hr1" style="margin-bottom:50px;"></div>

            <div class="row">
                <div class="col-md-12">
                    <h4 class="classic-title">
                        <span>Visi dan Misi</span>
                    </h4>

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-desktop"></i> Visi
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-1" class="panel-collapse collapse in">
                                <div class="panel-body">{{ profile.visi }}</div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                        <i class="fa fa-angle-up control-icon"></i>
                                        <i class="fa fa-gift"></i> Misi
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse-2" class="panel-collapse collapse">
                                <div class="panel-body">{{ profile.misi }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}