{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} Kontak Kami | {{ block.super }} {% endblock head_title%}

{% block content %}

<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- Classic Heading -->
                <h4 class="classic-title">
                    <span>Kontak Kami via Email</span>
                </h4>

                <!-- Start Contact Form -->
                <form role="form" class="contact-form" id="contact-form" method="post">
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" placeholder="Nama Lengkap" name="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <input type="email" class="email" placeholder="Alamat Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <input type="text" class="requiredField" placeholder="Subyek" name="subject">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="controls">
                            <textarea rows="7" placeholder="Pesan anda..." name="message"></textarea>
                        </div>
                    </div>
                    <button type="submit" id="submit" class="btn-system btn-large">Kirim</button>
                    <div id="success" style="color:#34495e;"></div>
                </form>
                <!-- End Contact Form -->
            </div>

            <div class="col-md-4">
                <!-- Classic Heading -->
                <h4 class="classic-title">
                    <span>Informasi</span>
                </h4>

                <!-- Some Info -->
                <p style="text-align: justify;">{{ profile.profil_singkat }}</p>

                <!-- Divider -->
                <div class="hr1" style="margin-bottom:10px;"></div>

                <!-- Info - Icons List -->
                <ul class="icons-list">
                    <li>
                        <i class="fa fa-globe"> </i>
                        <strong>Alamat:</strong> {{ profile.alamat_lengkap }}
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"></i>
                        <strong>Email:</strong> {{ profile.email }}
                    </li>
                    <li>
                        <i class="fa fa-mobile"></i>
                        <strong>Nomor Handphone:</strong> {{ profile.nomor_handpone }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}