{% load staticfiles %}

<footer>
    <div class="container">
        <div class="row footer-widgets">
            <!-- Start Subscribe & Social Links Widget -->
            <div class="col-md-6">
                <div class="footer-widget mail-subscribe-widget">
                    <h4>Terhubung dengan kami
                        <span class="head-line"></span>
                    </h4>
                    <p>Bergabung bersama kami untuk update terbaru!</p>
                    <form class="subscribe">
                        <input type="text" placeholder="mail@example.com">
                        <input type="submit" class="btn-system" value="Send">
                    </form>
                </div>
                <div class="footer-widget social-widget">
                    <h4>Follow Us
                        <span class="head-line"></span>
                    </h4>
                    <ul class="social-icons">
                        <li>
                            <a class="facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="instgram" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Subscribe & Social Links Widget -->

            <!-- Start Contact Widget -->
            <div class="col-md-6">
                <div class="footer-widget contact-widget">
                    <h4><img src="{% static 'images/logo.png' %}" class="img-responsive" alt="Footer Logo" width="70" height="70"/></h4>
                    <p>Forum Badan Eksekutif Mahasiswa Daerah Istimewa Yogyakarta didirikan
                    dan dikukuhkan sebagai organisasi resmi perkumpulan lintas BEM se-DIY pada tanggal 16 juli 2011 oleh 17 BEM yang hadir dalam
                    konsolidasi Badan Eksekutif Mahasiswa (BEM) Perguruan Tinggi Se-Daerah Istimewa Yogyakrta yang digagas Dewan Eksekutif Mahasiswa
                    (DEMA) UIN Sunan Kalijaga di Hotel University, Maguoharjo, Seleman, D.I. Yogyakarta.</p>
                    <ul>
                        <li><span>Phone Number:</span> +62-8123-4567</li>
                        <li><span>Email:</span> info@bem-diy.org</li>
                        <li><span>Website:</span> www.bem-diy.org</li>
                    </ul>
                </div>
            </div>
            <!-- End Contact Widget -->
        </div>

        <!-- Start Copyright -->
        <div class="copyright-section">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2018 BEM DIY - All Rights Reserved <a href="#">Digmi</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="footer-nav">
                        <li>
                            <a href="#">Sitemap</a>
                        </li>
                        <li>
                            <a href="#">Kebijakan pribadi</a>
                        </li>
                        <li>
                            <a href="#">Kontak</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Copyright -->
    </div>
</footer>