{% load staticfiles %}

<div class="hidden-header"></div>
<header class="clearfix">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="contact-details">
                        <li>
                            <a href="#"><i class="fa fa-map-marker"></i> NO/143. Yogyakarta, Indonesia</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope-o"></i> info@bem-diy.org</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-phone"></i> +62-8123-4567</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="social-list">
                        <li>
                            <a class="facebook itl-tooltip" data-placement="bottom" title="Facebook" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="twitter itl-tooltip" data-placement="bottom" title="Twitter" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="instgram itl-tooltip" data-placement="bottom" title="Instagram" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img alt="" src="{% static 'images/logo.png' %}" width="40" height="40">
                </a>
            </div>
            
            <div class="navbar-collapse collapse">
                <div class="search-side">
                    <a class="show-search">
                        <i class="fa fa-search"></i>
                    </a>
                    <div class="search-form">
                        <form autocomplete="off" role="search" method="get" class="searchform" action="#">
                            <input type="text" value="" name="s" id="s" placeholder="Cari...">
                        </form>
                    </div>
                </div>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a {% if request.path == '/' %} class="active" {% endif %} href="{% url 'home' %}"> Beranda</a>
                    </li>
                    <li>
                        <a {% if request.path == '/post/' %} class="active" {% endif %} href="{% url 'blog:index' %}">Artikel</a>
                    </li>
                    <li>
                        <a {% if request.path == '/about/' %} class="active" {% endif %} href="{% url 'about' %}">Tentang</a>
                    </li>
                    <li>
                        <a {% if request.path == '/contact/' %} class="active" {% endif %} href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>

        <ul class="wpb-mobile-menu">
            <li>
                <a {% if request.path == '/' %} class="active" {% endif %} href="{% url 'home' %}">Beranda</a>
            </li>
            <li>
                <a {% if request.path == '/post/' %} class="active" {% endif %} href="{% url 'blog:index' %}">Artikel</a>
            </li>
            <li>
                <a {% if request.path == '/about/' %} class="active" {% endif %} href="{% url 'about' %}">Tentang</a>
            </li>
            <li>
                <a {% if request.path == '/contact/' %} class="active" {% endif %} href="{% url 'contact' %}">Contact</a>
            </li>
        </ul>
    </div>
</header>
