{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.migrate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizrr.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/nivo-lightbox.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.isotope.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/count-to.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.textillate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.lettering.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.parallax.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mediaelement-and-player.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>