{% load staticfiles %}
<div class="col-md-3 sidebar right-sidebar">

    <!-- Search Widget -->
    <div class="widget widget-search">
        <form action="#">
            <input type="search" placeholder="Cari artikel..." />
            <button class="search-btn" type="submit">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>

    <!-- Categories Widget -->
    <div class="widget widget-categories">
        <h4>Kategori
            <span class="head-line"></span>
        </h4>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'blog:category' category.slug %}">{{ category.nama }}</a>
                </li>
            {% empty %}
                <li>Belum ada kategori...</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Popular Posts widget -->
    {% comment %} <div class="widget widget-popular-posts">
        <h4>Popular Post
            <span class="head-line"></span>
        </h4>
        <ul>
            <li>
                <div class="widget-thumb">
                    <a href="#">
                        <img src="{% static 'images/blog-mini-01.jpg' %}" alt="" />
                    </a>
                </div>
                <div class="widget-content">
                    <h5>
                        <a href="#">How To Download The Google Fonts Catalog</a>
                    </h5>
                    <span>Jul 29 2013</span>
                </div>
                <div class="clearfix"></div>
            </li>
            <li>
                <div class="widget-thumb">
                    <a href="#">
                        <img src="{% static 'images/blog-mini-02.jpg' %}" alt="" />
                    </a>
                </div>
                <div class="widget-content">
                    <h5>
                        <a href="#">How To Download The Google Fonts Catalog</a>
                    </h5>
                    <span>Jul 29 2013</span>
                </div>
                <div class="clearfix"></div>
            </li>
            <li>
                <div class="widget-thumb">
                    <a href="#">
                        <img src="{% static 'images/blog-mini-03.jpg' %}" alt="" />
                    </a>
                </div>
                <div class="widget-content">
                    <h5>
                        <a href="#">How To Download The Google Fonts Catalog</a>
                    </h5>
                    <span>Jul 29 2013</span>
                </div>
                <div class="clearfix"></div>
            </li>
        </ul>
    </div> {% endcomment %}

    <!-- Video Widget -->
    <div class="widget">
        <h4>Video
            <span class="head-line"></span>
        </h4>
        <div>
            <iframe src="{{ video.url }}" width="800" height="450" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>

    <!-- Tags Widget -->
    <div class="widget widget-tags">
        <h4>Tag
            <span class="head-line"></span>
        </h4>
        <div class="tagcloud">
            {% for tag in tags %}
                <a href="#">{{ tag.nama }}</a>
            {% empty %}
                <a>Belum ada tag...</a>
            {% endfor %}
        </div>
    </div>
</div>