{% extends "base.html" %}
{% load staticfiles %}

{% block head_title %} Kontak Kami | {{ block.super }} {% endblock head_title%}

{% block content %}
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div id="content">
    <div class="container">
        <div class="row blog-post-page">
            <div class="col-md-9 blog-box">
                <div class="blog-post">
                    <div class="post-head">
                        <div class="touch-slider post-slider">
                            <div class="item">
                                <a class="lightbox" title="{{ artikel.judul }}" href="{{ artikel.gambar.url }}">
                                    <div class="thumb-overlay">
                                        <i class="fa fa-arrows-alt"></i>
                                    </div>
                                    <img alt="" src="{{ artikel.gambar.url }}">
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="post-content">
                        <div class="post-type">
                            <i class="fa fa-picture-o"></i>
                        </div>
                        <h2>{{ artikel.judul | title }}</h2>
                        <ul class="post-meta">
                            <li>Oleh <a href="#">{{ artikel.user }}</a></li>
                            <li>{{ artikel.tanggal_terbit }}</li>
                            <li><a>{{ artikel.kategori }}</a></li>
                        </ul>
                        {% autoescape off %} {{ artikel.isi }} {% endautoescape %}

                        <div class="post-bottom clearfix">
                            <div class="post-tags-list">
                                {% for tag in artikel.tags.all %}
                                    <a href="#">{{ tag.nama | title }}</a>
                                {% endfor %}
                            </div>
                            <div class="post-share">
                                <span>Bagikan :</span>
                                <a class="facebook" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="twitter" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="gplus" href="#">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a class="linkedin" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="mail" href="#">
                                    <i class="fa fa-envelope"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Sidebar-->
            {% include "includes/sidebar.html" %}
            <!--End sidebar-->
        </div>
    </div>
</div>
{% endblock content %}