{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>
    <title>{% block head_title %}FBD{% endblock head_title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="FBD (Forum Badan Eksekutif Mahasiswa D.I Yogyakarta)">
    <meta name="author" content="imamdigmi">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% include "includes/css.html" %}
    {% include "includes/js.html" %}
    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
    <div id="container">
        {% include "includes/header.html" %}

        {% if request.path == '/' %}
            <section id="home">
                <div id="main-slide" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#main-slide" data-slide-to="0" class="active"></li>
                        <li data-target="#main-slide" data-slide-to="1"></li>
                        <li data-target="#main-slide" data-slide-to="2"></li>
                    </ol>
                    <!--/ Indicators end-->

                    <!-- Carousel inner -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive" src="{% static 'images/slider/bg1.jpg' %}" alt="slider">
                            <div class="slider-content">
                                <div class="col-md-12 text-center">
                                    <h2 class="animated2">
                                        <span>Welcome to
                                            <strong>Margo</strong>
                                        </span>
                                    </h2>
                                    <h3 class="animated3">
                                        <span>The ultimate aim of your business</span>
                                    </h3>
                                    <p class="animated4">
                                        <a href="#" class="slider btn btn-system btn-large">Check Now</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Carousel item end -->
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/slider/bg2.jpg' %}" alt="slider">
                            <div class="slider-content">
                                <div class="col-md-12 text-center">
                                    <h2 class="animated4">
                                        <span>
                                            <strong>Margo</strong> for the highest</span>
                                    </h2>
                                    <h3 class="animated5">
                                        <span>The Key of your Success</span>
                                    </h3>
                                    <p class="animated6">
                                        <a href="#" class="slider btn btn-system btn-large">Buy Now</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--/ Carousel item end -->
                        <div class="item">
                            <img class="img-responsive" src="{% static 'images/slider/bg3.jpg' %}" alt="slider">
                            <div class="slider-content">
                                <div class="col-md-12 text-center">
                                    <h2 class="animated7 white">
                                        <span>The way of
                                            <strong>Success</strong>
                                        </span>
                                    </h2>
                                    <h3 class="animated8 white">
                                        <span>Why you are waiting</span>
                                    </h3>
                                    <div class="">
                                        <a class="animated4 slider btn btn-system btn-large btn-min-block" href="#">Get Now</a>
                                        <a class="animated4 slider btn btn-default btn-min-block" href="#">Live Demo</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Carousel item end -->
                    </div>
                    <!-- Carousel inner end-->

                    <!-- Controls -->
                    <a class="left carousel-control" href="#main-slide" data-slide="prev">
                        <span>
                            <i class="fa fa-angle-left"></i>
                        </span>
                    </a>
                    <a class="right carousel-control" href="#main-slide" data-slide="next">
                        <span>
                            <i class="fa fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </section>
        {% endif %}
        
        {% if request.path != '/' and request.path != '/contact/' %}
            {% include "includes/banner.html" %}
        {% endif %}
        
        {% if request.path == '/contact/' %}
            {% include "includes/map.html" %}
        {% endif %}

        <div id="content">
            {% block content %} {% endblock content %}
        </div>

        {% include "includes/footer.html" %}
    </div>

    {% include "includes/goto-top.html" %}

    {% comment %} {% include "includes/theme-switcher.html" %} {% endcomment %}
    
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>