{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>
    <title>{% block head_title %}FBD{% endblock head_title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="FBD (Forum Badan Eksekutif Mahasiswa D.I Yogyakarta)">
    <meta name="author" content="imamdigmi">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% include "includes/css.html" %}
    {% include "includes/js.html" %}
    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
    <div id="container">
        {% include "includes/header.html" %}

        {% block content %} {% endblock content %}

        {% include "includes/footer.html" %}
    </div>

    {% include "includes/goto-top.html" %}

    {% comment %} {% include "includes/theme-switcher.html" %} {% endcomment %}
    
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
</body>
</html>